<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-3 col-sm-3">
                <div class="footer_dv">
                    <h4>Services</h4>
                    <ul>
                        <li class="line_rv"><a href="#">Canon Printer Support</a></li>
               
                        <li><a href="#">Hp printer Support</a></li>
                        <li><a href="#">Dell Printer Support</a></li>
                        <li><a href="#">Epson printer Support</a></li>
                        <li><a href="#">Samsung Printer Support</a></li>
                        <li><a href="#">Lexmark Printer Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-3">
                <div class="footer_dv">
                    <h4>Services</h4>
                    <ul>
                       <li class="line_rv"><a href="#">Canon Printer Support</a></li>
               
                        <li><a href="#">Hp printer Support</a></li>
                        <li><a href="#">Dell Printer Support</a></li>
                        <li><a href="#">Epson printer Support</a></li>
                        <li><a href="#">Samsung Printer Support</a></li>
                        <li><a href="#">Lexmark Printer Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-3">
                <div class="footer_dv">
                    <h4>Services</h4>
                    <ul>
                       <li class="line_rv"><a href="#">Canon Printer Support</a></li>
               
                        <li><a href="#">Hp printer Support</a></li>
                        <li><a href="#">Dell Printer Support</a></li>
                        <li><a href="#">Epson printer Support</a></li>
                        <li><a href="#">Samsung Printer Support</a></li>
                        <li><a href="#">Lexmark Printer Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-3">
                <div class="footer_dv">
                    <h4>Services</h4>
                    <ul>
                        <li class="line_rv"><a href="#">Canon Printer Support</a></li>
               
                        <li><a href="#">Hp printer Support</a></li>
                        <li><a href="#">Dell Printer Support</a></li>
                        <li><a href="#">Epson printer Support</a></li>
                        <li><a href="#">Samsung Printer Support</a></li>
                        <li><a href="#">Lexmark Printer Support</a></li>
                    </ul>
                </div>
            </div>
   
        </div>
    </div>
</section>